body {
  margin: 0;
  height: 100vh;
  overflow: hidden; }
  body header {
    height: 8vh; }
    body header .logo {
      height: 50px; }
    body header .bg-light {
      box-shadow: 0px 3px 32px #00000061;
      z-index: 1;
      height: 100%; }
      @media (max-width: 575.98px) {
        body header .bg-light {
          height: auto; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        body header .bg-light {
          height: auto; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        body header .bg-light {
          height: auto; } }
    body header .navbar-light .navbar-nav .nav-link {
      color: #51955B;
      font-weight: bold; }
  body .appli {
    height: 92vh; }
    body .appli .map-infos {
      height: 100%; }
      body .appli .map-infos #map {
        width: 100%;
        height: 100%;
        z-index: 0; }
      body .appli .map-infos .produits {
        padding: 10px;
        border: solid 20px #fff;
        background-color: #8EC2D9;
        height: 100%;
        display: none; }
        @media (min-width: 992px) and (max-width: 1199px) {
          body .appli .map-infos .produits {
            display: block; } }
        @media (min-width: 1200px) {
          body .appli .map-infos .produits {
            display: block; } }
        body .appli .map-infos .produits .infos .btn-light {
          border: solid 1px #28ab28;
          color: #28ab28; }
        body .appli .map-infos .produits .infos h1 {
          color: white;
          font-weight: bold; }
        body .appli .map-infos .produits .infos hr.style1 {
          border-top: 1px solid #8c8b8b42; }
        body .appli .map-infos .produits .infos .liste-produits li {
          list-style: none;
          color: white;
          font-size: 1.5rem; }
      body .appli .map-infos .produits-mobile {
        display: none;
        position: absolute;
        padding: 10px;
        border: solid 20px #fff;
        background-color: #8EC2D9;
        height: 100%;
        right: -100vw;
        transition: .4s; }
        @media (max-width: 575.98px) {
          body .appli .map-infos .produits-mobile {
            display: block; } }
        @media (min-width: 576px) and (max-width: 767.98px) {
          body .appli .map-infos .produits-mobile {
            display: block; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          body .appli .map-infos .produits-mobile {
            display: block; } }
        body .appli .map-infos .produits-mobile .infos .btn-light {
          border: solid 1px #28ab28;
          color: #28ab28; }
        body .appli .map-infos .produits-mobile .infos h1 {
          color: white;
          font-weight: bold; }
          @media (max-width: 575.98px) {
            body .appli .map-infos .produits-mobile .infos h1 {
              font-size: 1.3rem; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            body .appli .map-infos .produits-mobile .infos h1 {
              font-size: 2rem; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            body .appli .map-infos .produits-mobile .infos h1 {
              font-size: 2.3rem; } }
        body .appli .map-infos .produits-mobile .infos hr.style1 {
          border-top: 1px solid #8c8b8b42; }
        body .appli .map-infos .produits-mobile .infos .liste-produits li {
          list-style: none;
          color: white;
          font-size: 1.5rem; }
        body .appli .map-infos .produits-mobile .infos .close-infos {
          position: absolute;
          top: 80vh;
          right: 5vw;
          /* bottom: 5vh; */
          font-size: 3rem;
          color: #fff;
          display: none; }
          @media (max-width: 575.98px) {
            body .appli .map-infos .produits-mobile .infos .close-infos {
              display: block; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            body .appli .map-infos .produits-mobile .infos .close-infos {
              display: block; } }
          @media (min-width: 768px) and (max-width: 991.98px) {
            body .appli .map-infos .produits-mobile .infos .close-infos {
              display: block; } }
      body .appli .map-infos .show-infos {
        position: absolute;
        top: 90vh;
        right: 5vw;
        /* bottom: 5vh; */
        font-size: 3rem;
        color: #91bfd7;
        display: none; }
        @media (max-width: 575.98px) {
          body .appli .map-infos .show-infos {
            display: block; } }
        @media (min-width: 576px) and (max-width: 767.98px) {
          body .appli .map-infos .show-infos {
            display: block; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          body .appli .map-infos .show-infos {
            display: block; } }

/*# sourceMappingURL=style.css.map */

.autocomplete-suggestions {
  padding: 4px 10px;
  border: 1px solid silver;
  background: white;
}