<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>geoloc</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
</head>

<body style="margin:0;">

    <div id="map" style=" width:100vw; height:100vh; ">
    </div>


    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>


    <script>

        getLocation();

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert('Votre navigateur ne prend pas en compte la géolocalisation');
            }
        }

        function showPosition(position) {
            console.log('latitude ' + position.coords.latitude);
            console.log('longitude ' + position.coords.longitude);

            var lat = position.coords.latitude;
            var long = position.coords.longitude;

            var mymap = L.map('map').setView([lat, long], 15);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiZmF3bGlhIiwiYSI6ImNqYmVxejI1ejI3MG4ydm1vZm9laXVya2QifQ.vUbCBecjNCgy9IEE6pDRaQ'
            }).addTo(mymap);

            /*mapboxgl.accessToken = 'pk.eyJ1IjoiZmF3bGlhIiwiYSI6ImNqYmVxejI1ejI3MG4ydm1vZm9laXVya2QifQ.vUbCBecjNCgy9IEE6pDRaQ';
                            const map = new mapboxgl.Map({
                                container: 'map',
                                style: 'mapbox://styles/fawlia/cjrxdluqr0szj1fpdkxgmumre',
                                center: [2.317600, 48.866500],
                                zoom: 12.0
                              
                            });*/


            var myIcon = L.icon({
                iconUrl: 'marker.png',
                iconSize: [38, 55],
                iconAnchor: [18, 28],
                popupAnchor: [0,0],
            });

            var marker = L.marker([lat,long],{icon: myIcon}).on('click', markerOnClick).addTo(mymap);

                {% for user in users %}

                    var a = {{ user.latitude }};
                    var b =  {{ user.longitude }};
                    var user_name = "{{user.prenom}}";
                    
                    console.log(a);
                    console.log(b);

                    //marker
                    var marker = L.marker([a,b],{icon: myIcon}).bindPopup("coucou je m'appelle : {{user.prenom}}").addTo(mymap);

                    // bindpopup
                    //var marker = L.marker([a,b], {icon: myIcon}).on('click', markerOnClick).addTo(mymap);

                    /*marker.bindPopup(popupContent).openPopup();
                    var littleton = L.marker([39.61, -105.02]).bindPopup('This is Littleton, CO.'),
                    denver = L.marker([39.74, -104.99]).bindPopup('This is Denver, CO.'),
                    aurora = L.marker([39.73, -104.8]).bindPopup('This is Aurora, CO.'),
                    golden = L.marker([39.77, -105.23]).bindPopup('This is Golden, CO.'); */
                    
                    /*function markerOnClick(){
                        var popup = L.popup()
                            .setLatLng([a,b])
                            .setContent("Potager de Roger")
                            .openOn(mymap);
                    }*/

                    
                        
                {% endfor %}

                function markerOnClick(){
                    var popup = L.popup()
                        .setLatLng([lat,long])
                        .setContent("Potager de Roger")
                        .openOn(mymap);
                }

        }


    </script>



</body>

</html>