{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="public/CSS/utilisateur.css">
{% endblock %}
{% block section %}

    <div id='users' class='container'>
        <div class=row>



            <div class='userContent col-md-6'>
                <h2>Ajouter une l'offre</h2>
                <hr>
                <p>Merci d'ajouter des produits à votre offre*</p>
                <form>
                    <label>Nom du produit :</label><br>
                    <input type="text" name="produit" id="produit" class="input"><br>
                    <label>Ajouter une image</label><br>
                    <input id='files' type="file" name="img"/><br>
                    <button type="button" class="btn btn-warning">Ajouter</button>

                </form>
            </div>


             <div class='userContent col-md-6'>
                <h2>Mes produits</h2>
                <hr>
                <p>Liste de produits</p>
                <ul>
                    <li>
                        <div class="product">
                            <div id='imgCarotte'></div>
                            <p>Carottes</p>
                        </div>
                        <div class='btns'>
                            <button type="button" class="btn btn-success">Modifier</button>
                            <button type="button" class="btn btn-danger">Supprimer</button>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <div id='imgHaricot'></div>
                            <p>Haricots</p>
                        </div>
                        <div class='btns'>
                            <button type="button" class="btn btn-success">Modifier</button>
                            <button type="button" class="btn btn-danger">Supprimer</button>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <div id='imgPomme'></div>
                            <p>Pommes</p>
                        </div>
                        <div class='btns'>
                            <button type="button" class="btn btn-success">Modifier</button>
                            <button type="button" class="btn btn-danger">Supprimer</button>
                        </div>
                    </li>


                </ul>

            </div>

        </div>
    </div>
{% endblock %}
